body{
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial;
}

.container{
  text-align:center;
}

button{
  padding:15px 30px;
  border:none;
  border-radius:10px;
  font-size:18px;
  cursor:pointer;
}